In [1]:
# %pip install pandas
# %pip install seaborn
# %pip install matplotlib
# %pip install scikit-learn
# %pip install statsmodels
# %pip install numpy

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use("seaborn-muted")
import statsmodels.api as sm

from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

pd.set_option('display.max_columns', None)

/var/folders/zp/p0pztj7s08s_gv0dfkcybvp80000gn/T/ipykernel_70509/1600913943.py:6: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use("seaborn-muted")

In [3]:
# Set path to data
data = "~/Desktop/Data/"

In [5]:
# Import dataset from csv file
morg = pd.read_csv(data + "morg96_sample.csv")
# morg = pd.read_csv("morg96_sample.csv")
morg.head()

,hurespli,intmonth,minsamp,hrsample,serial,hhnum,state,stfips,county,centcity,msafips,cmsacode,smsastat,smsa93,icntcity,hhid,sex,veteran,grade92,famnum,selfproxy,why3594,class94,unioncov,studftpt,relref95,age,pfamrel,marital,race,hourslw,reason94,absent94,dwrsn,ind80,occ80,uhourse,laydur,paidhre,unionmme,ethnic,lfsr94,untype,ftpt94,agri,eligible,otc,earnhre,earnwke,schenr,schlvl,weight,earnwt,I25a,I25b,I25c,I25d,penatvty,pemntvty,pefntvty,prcitshp,prcitflg,peinusyr,hrlonglk,lineno,recnum,year,ym_file,ym,docc80,dind
0,2,10,8,A65,-1,1,31,39,0,2.0,80.0,28.0,1.0,6.0,NaN,910540564780043,2,6.0,44,1,1.0,NaN,1.0,2.0,NaN,3,31,2,1,1,40.0,NaN,NaN,NaN,932.0,23.0,40.0,NaN,2.0,2.0,8.0,1.0,NaN,2.0,0.0,1,2.0,NaN,1200.0,NaN,NaN,1936.8090,7565.0957,0,42,NaN,1.0,57,57,57,1,0,0,2,2,324929,1996,441,425,3.0,52.0
1,2,12,8,A65,-1,1,74,48,0,3.0,NaN,NaN,2.0,NaN,NaN,784604026909194,1,1.0,43,1,2.0,NaN,4.0,2.0,NaN,1,54,1,1,1,70.0,NaN,NaN,NaN,591.0,804.0,70.0,NaN,2.0,2.0,9.0,1.0,NaN,2.0,0.0,1,2.0,NaN,600.0,NaN,NaN,2992.3831,11988.6640,0,42,NaN,1.0,57,57,57,1,0,0,2,1,398711,1996,443,427,38.0,33.0
2,4,11,4,A67,-1,1,93,6,37,2.0,4480.0,49.0,1.0,7.0,NaN,100609557499178,1,6.0,40,1,2.0,NaN,4.0,2.0,NaN,3,36,2,1,4,60.0,NaN,NaN,NaN,331.0,796.0,60.0,NaN,1.0,2.0,8.0,1.0,NaN,2.0,0.0,1,1.0,1100.0,700.0,NaN,NaN,2265.2522,9296.6758,0,0,0.0,0.0,231,231,231,5,40,11,2,2,337350,1996,442,439,37.0,11.0
3,1,2,8,A64,-1,1,84,8,0,2.0,2080.0,34.0,1.0,5.0,NaN,99934705075897,2,6.0,43,0,1.0,NaN,4.0,2.0,NaN,2,24,0,7,1,41.0,NaN,NaN,NaN,820.0,204.0,24.0,NaN,2.0,2.0,8.0,1.0,NaN,2.0,0.0,1,2.0,NaN,570.0,2.0,NaN,2349.9756,9491.6416,0,0,NaN,0.0,110,120,120,4,0,6,2,1,37863,1996,433,417,13.0,42.0
4,1,9,4,A66,-1,1,41,27,37,2.0,5120.0,NaN,1.0,6.0,NaN,799800018720972,2,6.0,43,1,1.0,NaN,7.0,NaN,NaN,1,48,1,1,1,35.0,NaN,NaN,NaN,891.0,285.0,25.0,NaN,NaN,NaN,8.0,1.0,NaN,2.0,0.0,2,NaN,NaN,NaN,NaN,NaN,3010.0200,12186.4130,0,0,NaN,NaN,57,57,57,1,0,0,2,1,282485,1996,440,437,20.0,45.0

In [6]:
morg.shape

(66072, 71)

In [7]:
morg.describe()

,hurespli,intmonth,minsamp,hhnum,state,stfips,county,centcity,msafips,cmsacode,smsastat,smsa93,icntcity,hhid,sex,veteran,grade92,famnum,selfproxy,why3594,class94,unioncov,studftpt,relref95,age,pfamrel,marital,race,hourslw,reason94,absent94,dwrsn,ind80,occ80,uhourse,laydur,paidhre,unionmme,ethnic,lfsr94,untype,ftpt94,agri,eligible,otc,earnhre,earnwke,schenr,schlvl,weight,earnwt,I25a,I25b,I25c,I25d,penatvty,pemntvty,pefntvty,prcitshp,prcitflg,peinusyr,hrlonglk,lineno,recnum,year,ym_file,ym,docc80,dind
count,66072.000000,66072.000000,66072.000000,66072.000000,66072.000000,66072.000000,66072.000000,55983.000000,48213.000000,23502.000000,65888.000000,48307.000000,4304.000000,6.607200e+04,66072.000000,66072.000000,66072.000000,66072.000000,65949.000000,4775.000000,61042.000000,46132.000000,1430.000000,66072.000000,66072.000000,66072.000000,66072.000000,66072.000000,60583.00000,1425.000000,134.000000,90.000000,61042.000000,61042.000000,56628.000000,16.000000,54062.000000,54062.000000,65877.000000,66072.000000,74.000000,66072.000000,61042.000000,66072.000000,54062.000000,31656.000000,54062.000000,7176.000000,1430.000000,66072.000000,66072.000000,66072.000000,66072.000000,31675.000000,54062.000000,66072.000000,66072.000000,66072.000000,66072.00000,66072.000000,66072.000000,66072.000000,66072.000000,66072.000000,66072.0,66072.000000,66072.000000,61042.000000,61042.000000
mean,1.597954,6.591521,5.987347,1.064944,53.298114,28.394857,24.822996,2.000125,4463.813515,52.882436,1.229116,5.200551,1.190056,5.013763e+14,1.444833,5.592899,40.138591,0.815746,1.513943,15.017382,4.099636,1.980187,1.274825,2.837193,40.561055,1.281345,3.003526,1.216688,43.67788,5.569825,6.074627,8.400000,568.663052,357.123063,42.194780,6.500000,1.414080,1.853317,7.663206,1.339281,3.027027,2.254071,0.026605,1.181771,1.809811,1055.144459,560.360420,1.800725,1.675524,2200.593614,8809.148553,0.260897,3.597878,0.257080,0.228626,79.933436,86.219639,85.896946,1.38340,0.145705,0.852661,1.990011,1.620263,203259.987483,1996.0,437.591521,428.132643,21.798073,30.646555
std,0.817281,3.427854,1.999975,0.262258,25.963298,15.450938,59.185421,0.734296,2518.532892,26.998951,0.420267,1.676523,0.533022,3.211381e+14,0.496951,1.252624,2.626975,0.443112,0.511030,6.719772,1.173893,0.139358,0.446582,3.127409,13.965099,0.948230,2.580666,0.636942,11.54813,3.106637,3.291883,3.407856,278.642577,255.541848,9.697456,8.294577,0.492567,0.353793,1.294442,1.145731,1.595996,1.302930,0.160926,0.385659,0.392454,585.821051,365.247316,0.399483,0.468342,1047.346038,4199.631241,2.975476,11.744491,0.437031,0.419952,72.879954,79.571003,78.925093,1.10698,1.985990,2.691818,0.140992,0.921807,115325.140290,0.0,3.427854,7.347309,13.032055,13.687768
min,0.000000,1.000000,4.000000,1.000000,11.000000,1.000000,0.000000,1.000000,80.000000,7.000000,1.000000,2.000000,1.000000,1.280701e+10,1.000000,1.000000,31.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,16.000000,0.000000,1.000000,1.000000,1.00000,1.000000,4.000000,1.000000,10.000000,4.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,25.000000,0.000000,1.000000,1.000000,64.697800,265.171200,0.000000,0.000000,0.000000,0.000000,57.000000,57.000000,57.000000,1.00000,0.000000,0.000000,0.000000,1.000000,18.000000,1996.0,432.000000,416.000000,1.000000,1.000000
25%,1.000000,4.000000,4.000000,1.000000,32.000000,15.000000,0.000000,1.000000,2080.000000,31.000000,1.000000,4.000000,1.000000,2.004100e+14,1.000000,6.000000,39.000000,1.000000,1.000000,10.000000,4.000000,2.000000,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,40.00000,4.000000,4.000000,7.000000,351.000000,157.000000,40.000000,2.000000,1.000000,2.000000,8.000000,1.000000,2.000000,2.000000,0.000000,1.000000,2.000000,670.000000,300.000000,2.000000,1.000000,1576.159100,6304.190650,0.000000,0.000000,0.000000,0.000000,57.000000,57.000000,57.000000,1.00000,0.000000,0.000000,2.000000,1.000000,104827.750000,1996.0,435.000000,422.000000,10.000000,24.000000
50%,1.000000,7.000000,4.000000,1.000000,54.000000,29.000000,0.000000,2.000000,4480.000000,49.000000,1.000000,5.000000,1.000000,4.998804e+14,1.000000,6.000000,40.000000,1.000000,2.000000,18.000000,4.000000,2.000000,1.000000,2.000000,39.000000,1.000000,1.000000,1.000000,40.00000,5.000000,5.000000,10.000000,641.000000,319.000000,40.000000,3.000000,1.000000,2.000000,8.000000,1.000000,3.000000,2.000000,0.000000,1.000000,2.000000,900.000000,472.000000,2.000000,2.000000,2198.758050,8799.560050,0.000000,0.000000,0.000000,0.000000,57.000000,57.000000,57.000000,1.00000,0.000000,0.000000,2.000000,1.000000,203501.000000,1996.0,438.000000,429.000000,24.000000,33.000000
75%,2.000000,10.000000,8.000000,1.000000,74.000000,40.000000,31.000000,3.000000,6280.000000,70.000000,1.000000,7.000000,1.000000,8.039045e+14,2.000000,6.000000,43.000000,1.000000,2.000000,20.000000,4.000000,2.000000,2.000000,3.000000,48.000000,2.000000,5.000000,1.000000,49.00000,8.000000,7.000000,11.000000,831.000000,507.000000,45.000000,8.250000,2.000000,2.000000,8.000000,1.000000,5.000000,2.000000,0.000000,1.000000,2.000000,1300.000000,712.750000,2.000000,2.000000,2855.904550,11412.056000,0.000000,0.000000,1.000000,0.000000,57.000000,57.000000,57.000000,1.00000,0.000000,0.000000,2.000000,2.000000,302403.500000,1996.0,441.000000,435.000000,33.000000,41.000000
max,16.000000,12.000000,8.000000,4.000000,95.000000,56.000000,810.000000,3.000000,9360.000000,97.000000,2.000000,7.000000,4.000000,9.999904e+14,2.000000,6.000000,46.000000,4.000000,3.000000,23.000000,8.000000,2.000000,2.000000,18.000000,90.000000,4.000000,7.000000,4.000000,99.00000,13.000000,14.000000,11.000000,932.000000,889.000000,99.000000,35.000000,2.000000,2.000000,9.000000,7.000000,5.000000,12.000000,1.000000,2.000000,2.000000,9900.000000,1923.000000,2.000000,2.000000,9177.680700,38236.480000,43.000000,42.000000,1.000000,1.000000,555.000000,555.000000,555.000000,5.00000,41.000000,14.000000,2.000000,14.000000,402371.000000,1996.0,443.000000,440.000000,45.000000,52.000000